<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fsname %></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="task w-72 p-3 bg-zinc-900 text-white bg-white rounded-md">
            <h3 class="text-2xl mb-3"><%= fsname %></h3>
            <p><%= data %></p>
            <a class="text-blue-500 none-underline" href="/">Go Back</a>
        </div>
    </div>
</body>

</html>